@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .bg-gradient {
    background: linear-gradient(
      to right,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--background-end-rgb), 1)
    );
  }
}

.bg-mouse {
  background: url("/gifmouse.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

.other-side {
  transform: rotateY(180deg);
  transition: all ease-in 0.2s;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
